beautifulsoup4>=4.5.0
celery>=3.1
certifi
freezegun
html5lib
libfaketime
lxml
mock
nose-timer
nose
pandas>=1.4.2
parameterized
python-dateutil
pytz
requests-cache
requests-mock
requests
Sphinx
xlrd
bs4